@import "tailwindcss";

* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: 'Roboto Mono', monospace, 'Arial Narrow Bold', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
    background: #d5f9ff;
    padding: 0.3rem 1rem;
    border-radius: 0.75rem;
}